footer{
    background-color: #ffffff;
    padding: 20px;
    line-height: 0;
    gap:10px;
    border-radius: 6px 6px 0px 0px;
}

@media (min-width: 600px) {
    h3, p{
        text-align: center;
    }
}