

body{
  font-family: Roboto, Open-sans, Arial;
  color: #2B2B2B;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #F5F5F5;
  padding:0px;
  margin:0px;
}

.heading{
  font-family:'Merriweather', Georgia;
  font-style: bold, serif;
  color: #0A437C;
}

h1{
  font-size: 2.5rem;
  font-family: 'Merriweather', Georgia;
  color:#0A437C
}

h2{
  font-size: 1.875rem;
  font-family: 'Merriweather', Georgia;
  color: #0A437C;
}

h3{
  font-size: 1.5rem;
  font-family: 'Merriweather', Georgia;
  color: #0A437C;
}

img{
  border-radius: 8px;
}
