body{
  font-family: Roboto, Open-sans, Arial;
  color: #2B2B2B;
  font-size: 1rem;
  line-height: 1.6;
}

.heading{
  font-family: Georgia;
  font-style: bold, serif;
  color: #0A437C;
}

h1{
  font-style: uppercase;
  font-size: 2.5rem;
}

h2{
  font-size: 1.875rem;
}

h3{
  font-size: 1.5rem;
}