.container {
    border-radius: 6px;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px 10px 20px 20px
}

.title{
    text-align: center;
}

h2 {
    text-align: center;
}

li{
    list-style-type:square;
}

@media (min-width: 600px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        max-width: 75%;
    }
}